.section-about {
	background-color: $gray-light;
	padding: 25rem 0;
	margin-top: -20vh;
}
.section-feature {
	padding: 20rem 0;
	background-image: linear-gradient(
			to right bottom,
			rgba($primary-light, 0.8),
			rgba($primary-dark, 0.8)
		),
		url('../img/nat-4.jpg');
	background-size: cover;
	transform: skewY(-7deg);
	margin-top: -7.5rem;
	& > * {
		transform: skewY(7deg);
	}
}
.section-tour {
	padding: 25rem 0rem 10rem 0rem;
	background-color: $background-color-gray;
	margin-top: -7.5rem;
}

.section-stories {
	padding: 15rem 20rem;

	position: relative;
}

.img-composition {
	width: 100%;
	position: relative;
	.composition-photo {
		position: absolute;
		z-index: 1;
		outline-offset: 2rem;
		transition: all 0.2s;
		box-shadow: 0 1.5rem 3rem rgba($gray-color, 0.6);

		&-1 {
			top: -2rem;
		}
		&-2 {
			top: 2rem;
			left: 45%;
		}
		&-3 {
			top: 10rem;
			left: 20%;
		}
		&:hover {
			z-index: 10;
			outline: 1.5rem solid $primary-color;
			transform: scale(1.1);
			box-shadow: 0 2.5rem 4rem rgba($gray-color, 0.6);
		}
	}
	&:hover .composition-photo:not(:hover) {
		transform: translateY(3px) scale(0.9);
	}
}
