.btn {
	&:link,
	&:visited {
		text-decoration: none;
		font-size: 1.8rem;
		text-transform: uppercase;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
	}
	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
		transition: all 0.4s;
	}
	&:active {
		transform: translateY(0px);
		box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
	}
	&-white {
		color: $gray-color;
		background-color: $white-color;
	}
	&-animate {
		animation: btnMoveFromBottom 0.5s ease-out 0.8s;
		animation-fill-mode: backwards;
	}
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10rem;
		z-index: -1;
		transition: all 0.4s;
	}
	&-white::after {
		background-color: $white-color;
	}
	&:hover::after {
		transform: scaleX(1.3) scaleY(1.5);
		opacity: 0;
	}
}
