.card {
	perspective: 200rem;
	height: 55rem;
	width: 100%;
	position: relative;
	// overflow: hidden;
	border-radius: 0.5rem;
	&-side {
		height: 55rem;
		transition: all 0.8s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
	}
	&-front-img {
		height: 25rem;
		background-position: center;
		background-size: cover;
		clip-path: polygon(0 1%, 100% 0, 100% 85%, 0% 100%);
		background-blend-mode: screen;
		&-1 {
			background-image: linear-gradient(
					to right bottom,
					$secondary-color-light,
					$secondary-color-dark
				),
				url('../../img/nat-5.jpg');
		}
		&-2 {
			background-image: linear-gradient(
					to right bottom,
					$primary-light,
					$primary-dark
				),
				url('../../img/nat-6.jpg');
		}
		&-3 {
			background-image: linear-gradient(
					to right bottom,
					$tertiary-color-light,
					$tertiary-color-dark
				),
				url('../../img/nat-7.jpg');
		}
	}
	&-front {
		background-color: $white-color;
	}
	&-back {
		transform: rotateY(-180deg);
		text-align: center;
		position: relative;
		.cta {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.card-price {
				margin-bottom: 5rem;
				&-only {
					font-size: 1.5rem;
					color: $white-color;
					font-weight: 300;
					display: block;
					text-transform: uppercase;
				}
				&-value {
					font-weight: 100;
					font-size: 5rem;
					color: $white-color;
					display: block;
					text-transform: uppercase;
				}
			}
			.book-now {
				.btn {
					font-size: 1.3rem;
				}
			}
		}

		&-1 {
			background-image: linear-gradient(
				to right bottom,
				$secondary-color-light,
				$secondary-color-dark
			);
		}
		&-2 {
			background-image: linear-gradient(
				to right bottom,
				$primary-light,
				$primary-dark
			);
		}
		&-3 {
			background-image: linear-gradient(
				to right bottom,
				$tertiary-color-light,
				$tertiary-color-dark
			);
		}
	}
	&:hover &-front {
		transform: rotateY(180deg);
	}
	&:hover &-back {
		transform: rotateY(0deg);
	}
	&-details {
		ul {
			padding: 4rem;
			list-style-type: none;
			li {
				font-weight: 400;
				text-decoration: none;
				text-align: center;
				padding: 1rem 0;
				&:not(:last-child) {
					border-bottom: 1px solid $background-color-gray;
				}
			}
		}
	}
}
