.feature-box {
	background-color: rgba($white-color, 0.7);
	padding: 4rem 2rem;
	transition: transform 0.3s;
	border-radius: 0.5rem;
	&-icon {
		font-size: 7rem;
		background: linear-gradient(to right, $primary-light, $primary-dark);
		display: inline-block;
		letter-spacing: 0.2rem;
		-webkit-background-clip: text;
		color: transparent;
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.02);
	}
}
