.heading_primary {
	margin-bottom: 6rem;
	@include mediaQuery(tablet-land) {
		margin-bottom: 5rem;
	}
	@include mediaQuery(tablet-port) {
		margin-bottom: 4rem;
	}
	&-main {
		display: block;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 6rem;
		letter-spacing: 3.5rem;
		animation: textMoveFromLeft 1s ease-out;
		@include mediaQuery(tablet-land) {
			font-size: 5.5rem;
			letter-spacing: 3rem;
		}
		@include mediaQuery(tablet-port) {
			font-size: 5rem;
			letter-spacing: 2.5rem;
		}
		@include mediaQuery(phone) {
			letter-spacing: 2rem;
		}
	}
	&-sub {
		display: block;
		text-transform: uppercase;
		font-size: 2.2rem;
		font-weight: 700;
		letter-spacing: 1.74rem;
		animation: textMoveFromRight 1s ease-out;
		@include mediaQuery(tablet-land) {
			font-size: 2.1rem;
			letter-spacing: 1rem;
		}
		@include mediaQuery(tablet-port) {
			font-size: 2rem;
			letter-spacing: 0.5rem;
		}
	}
}
.heading_secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	background: linear-gradient(to right, $primary-light, $primary-dark);
	display: inline-block;
	letter-spacing: 0.2rem;
	-webkit-background-clip: text;
	color: transparent;
	transition: all 0.2s;
	&:hover {
		transform: skewY(3.5deg) skewX(20deg);
		text-shadow: 0.2rem 0.8rem 1rem rgba($gray-color, 0.5);
	}
	@include mediaQuery(tablet-land) {
		font-size: 3rem;
	}
	@include mediaQuery(tablet-port) {
		font-size: 2.5rem;
	}
	@include mediaQuery(phone) {
		font-size: 2.5rem;
		letter-spacing: 0.1rem;
	}
}

.heading-tertiary {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.heading-card {
	position: absolute;
	top: 12rem;
	right: 2rem;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 300;
	width: 75%;
	text-align: right;
	color: $white-color;

	&-1 {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-image: linear-gradient(
			to right bottom,
			rgba($secondary-color-light, 0.8),
			rgba($secondary-color-dark, 0.8)
		);
	}
	&-2 {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-image: linear-gradient(
			to right bottom,
			rgba($primary-light, 0.8),
			rgba($primary-dark, 0.8)
		);
	}
	&-3 {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-image: linear-gradient(
			to right bottom,
			rgba($tertiary-color-light, 0.8),
			rgba($tertiary-color-dark, 0.8)
		);
	}
}
